body {
    margin: 0 auto;
    height: 100%;
    background-image: url(http://p1.music.126.net/a50rahhFa0Y7uWf52TXfCw==/765260103019177.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}
main {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%)
}
.infor {
    text-align: center;
}
.infor p {
    display: block;
    padding-top: 10px;
    padding-bottom: 10px;
}
.infor .name {
    font-size: 24px;
    font-family: Helvetica, Arial, sans-serif;
}
.play {
    width: 600px;
    height: 2.5em;
    color: #fff;
    padding: 13px;
    position: relative;
    z-index: 1;
}
.control {
    cursor: pointer;
}
.control span{
    float: left;
    font-size: 20px;
    text-align: center;
}
.control .back {
    margin-left: 10px;
}
.control .playing, 
.control .forward {
    margin-left: 20px;
}
.time {
    float: right;
    text-align: center;
}
.time span {
    margin-right: 36px;
}
.progress-bar {
    width: 65%;
    margin-left: 110px;
    cursor: pointer;
    position: relative;
}
.progress-bar .bar {
    width: 100%;
    height: 14px;
    margin-top: 5px;
    background-color: #222;
    border-radius: 7px;
    cursor: pointer;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}
.progress-bar .current {
    width: 0px;
    height: 14px;
    background-color: #007fd1;
    border-radius: 7px;
    z-index: 2;
    position: relative;
}
.music-list .list>li {
    padding: 5px 0px 5px 20px;
}
.music-list .list>li:hover {
    background-color: #222;
    cursor: pointer;
}
.music-list .list .fa {
    margin-right: 20px;
}
